html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 3em auto;
  padding: 0 15px;
}

.btn {
  background-color: $blue;
  padding: 10px 15px;
  font-size: 14px;
  @include border-radius(4px);
  color: $text-white;
  cursor: pointer;
  border-width: 0;
}

.error{
  color: red;
  font-size: 13px;
  margin: 5px 0 2px;
}
